@using Domain.Enums
@model List<Domain.Entities.Booking>

@{
    ViewData["Title"] = "Список бронирований";
}

<h2>Список бронирований</h2>

<table class="table">
    <thead>
    <tr>
        <th>Номер комнаты</th>
        <th>Дата начала</th>
        <th>Дата окончания</th>
        <th>Статус</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var booking in Model)
    {
        <tr>
            @if (booking.Status == BookingStatus.Free)
            {
                <td>@DateTime.Today.ToShortDateString()</td> 
                <td>@booking.Status</td>

                <td>
                    <a href="@Url.Action("Details", new { id = booking.Id })" class="btn btn-info">Подробнее</a>
                    <a href="@Url.Action("Index", "RoomView", new { id = booking.RoomId })" class="btn btn-secondary">Информация о комнате</a>
                    <form method="get" asp-action="Index" asp-controller="RentalView" asp-route-id="@booking.Id">
                        <button type="submit" class="btn btn-success">Арендовать</button>
                    </form>
                </td>
            }
            else
            {
                <td>@booking.StartDate.ToShortDateString()</td>
                <td>@booking.EndDate.ToShortDateString()</td>
                <td>@booking.Status</td>

                <td>
                    <a href="@Url.Action("Details", new { id = booking.Id })" class="btn btn-info">Подробнее</a>
                    <a href="@Url.Action("Index", "RoomView", new { id = booking.RoomId })" class="btn btn-secondary">Информация о комнате</a>
                    <form method="post" asp-action="CancelRental" asp-controller="RentalView" asp-route-id="@booking.Id">
                        <button type="submit" class="btn btn-danger">Отменить аренду</button>
                    </form>
                </td>
            }
        </tr>
    }
    </tbody>
</table>
