@model List<Domain.Entities.Booking>

@{
    var message = ViewBag.Message as string;
    if (!string.IsNullOrEmpty(message))
    {
        <div class="alert alert-info">
            @message
        </div>
    }
}

<div class="container">
    <!-- Кнопка изменить профиль (выравнивание по правому краю) -->
    <div class="d-flex justify-content-end mb-3">
        <a asp-controller="ProfileView" asp-action="EditUserData" class="btn btn-secondary rental-profile-btn">Изменить профиль</a>
    </div>

    <h2 class="rental-title">Мои брони</h2>

    @if (Model.Any())
    {
        <div class="rental-container">
            <table class="table rental-table">
                <thead>
                <tr>
                    <th>Дата начала</th>
                    <th>Дата окончания</th>
                    <th>Статус</th>
                    <th>Действия</th> <!-- Новый заголовок для действий -->
                </tr>
                </thead>
                <tbody>
                @foreach (var booking in Model)
                {
                    <tr class="rental-row">
                        <td>@booking.StartDate.ToString("yyyy-MM-dd")</td>
                        <td>@booking.EndDate.ToString("yyyy-MM-dd")</td>
                        <td>@booking.Status</td>
                        <td class="rental-buttons">
                            <a asp-controller="RoomView" asp-action="Index" asp-route-roomId="@booking.RoomId" class="btn btn-primary rental-btn">
                                Подробнее о комнате
                            </a>

                            <form method="post" asp-action="CancelRent" asp-controller="ProfileView" asp-route-bookingId="@booking.Id">
                                <button type="submit" class="btn btn-danger rental-btn mt-2">Отменить аренду</button>
                            </form>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>У вас нет активных броней.</p>
    }
</div>
